*{
  background-color: gray;
}
input,button{
  margin: 5px; border: none;
  border-radius: 5px;
  background: rgb(76, 73, 73);
  font-weight: bolder;
  padding: 20px 30px;
}
input{
  font-size:x-large ;
}
button{
  cursor: pointer;
  
}